In [2]:
!pip install mysql.connector.python

Requirement already satisfied: mysql.connector.python in c:\users\messj\appdata\local\programs\python\python310\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\messj\appdata\local\programs\python\python310\lib\site-packages (from mysql.connector.python) (3.20.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
#Establish a connection by importing MySQLConnectionPool and creating a pool with two connections.
import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool,Error

In [11]:
dbconfig={"user":"root","password":"Ruben92"}
try:
    pool=MySQLConnectionPool(pool_name="pool_for_Connection",
                         pool_size=4,
                        **dbconfig)
    print("the connection pool is create with name:",pool.pool_name)
    print("the pool size is",pool.pool_size)
except error as er:
    print("error code:",er.errno)
    print("error message:",er.msg)

the connection pool is create with name: pool_for_Connection
the pool size is 4

In [12]:
try:
#Step four: Obtain a connection from pool_a .
    print("Obtain a connection from pool")
    connection=pool.get_connection()
    print("connection success with MySQL")

except:
    print("connection failed with MySQL")

#create a cursor object to communicate with the database
print("create a cursor object to communicate with the database")
cursor = connection.cursor()

Obtain a connection from pool
connection success with MySQL
create a cursor object to communicate with the database

In [13]:
#Create LittleLemonDB_ByPython
dropDatabase_query = """DROP DATABASE IF EXISTS goldplayersdatabase;"""
cursor.execute(dropDatabase_query)
create_database_query="""CREATE DATABASE goldplayersdatabase;"""
cursor.execute(create_database_query)
print("goldplayersdatabase database create with success")

goldplayersdatabase database create with success

In [14]:
cursor.execute("USE goldplayersdatabase")

In [15]:
drop_PlayersTable_query = """DROP TABLE IF EXISTS Players2010s;"""
cursor.execute(drop_PlayersTable_query)

create_PlayersTable_query = """ 
CREATE TABLE players2010s (
id INT PRIMARY KEY,
Rang INT NOT NULL,
Nom VARCHAR(50),
Club VARCHAR(50),
Selection VARCHAR(50),
Poste VARCHAR(50),
Points VARCHAR(50),
Confederation VARCHAR(50),
Type VARCHAR (50),
Pourcentagevote VARCHAR(50),
Annee  VARCHAR(50)
);
"""
cursor.execute(create_PlayersTable_query)
cursor.execute("SHOW COLUMNS FROM Players2010s")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)
print("Player2010s Table create with success")

('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('id', b'int', 'NO', 'PRI', None, '')
('Rang', b'int', 'NO', '', None, '')
('Nom', b'varchar(50)', 'YES', '', None, '')
('Club', b'varchar(50)', 'YES', '', None, '')
('Selection', b'varchar(50)', 'YES', '', None, '')
('Poste', b'varchar(50)', 'YES', '', None, '')
('Points', b'varchar(50)', 'YES', '', None, '')
('Confederation', b'varchar(50)', 'YES', '', None, '')
('Type', b'varchar(50)', 'YES', '', None, '')
('Pourcentagevote', b'varchar(50)', 'YES', '', None, '')
('Annee', b'varchar(50)', 'YES', '', None, '')
Player2010s Table create with success

In [16]:
# Import csv files about all_players into database

In [17]:
cursor.execute("SELECT * FROM Players2010s")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('id', 'Rang', 'Nom', 'Club', 'Selection', 'Poste', 'Points', 'Confederation', 'Type', 'Pourcentagevote', 'Annee')